# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# CognoDB Cloud (Neo4j Protocol) Configuration
COGNODB_URI=bolt+s://db-1077323e.databases.cognodb.com
COGNODB_USERNAME=cognodb
COGNODB_PASSWORD=57f1ed63bef255783d9367baf6a89a35
